@using Microsoft.AspNetCore.Identity;
@using Areas.AspNet.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "Admin";
    var user = await UserManager.GetUserAsync(User);
}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && user != null && await UserManager.IsInRoleAsync(user, "Admin"))
    {
        <li class="nav-item">

            <a asp-area="Admin" asp-controller="Database" asp-action="Index" title="Database">Database</a>

        </li>

    }
</ul>