
@{
    ViewData["Title"] = "TicketList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h2>Tables:</h2>
    <table>

        <tr>

            <td>
                <a asp-area="Admin" asp-controller="Employee" asp-action="Index" title="Employee">Employee</a>
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Passenger" asp-action="Index" title="Passenger">Passenger</a>

            </td>
            <td>
                <a asp-area="Admin" asp-controller="Plane" asp-action="Index" title="Plane">Plane</a>

            </td>
            <td>
                <a asp-area="Admin" asp-controller="Ticket" asp-action="Index" title="Ticket">Ticket</a>

            </td>
        </tr>

    </table>




</div>
