<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="FlightDbConnection" connectionString="Server =(localdb)\\mssqllocaldb;Database=FlightCompanyDb;Trusted_Connection=True;MultipleActiveResultSets=True;"
		 providerName ="System.Data.SqlClient"/>
	</connectionStrings>


</configuration>