@model Models.Plane

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPassengerCount" class="control-label"></label>
                <input asp-for="MaxPassengerCount" class="form-control" />
                <span asp-validation-for="MaxPassengerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryFrom" class="control-label"></label>
                <input asp-for="CountryFrom" class="form-control" />
                <span asp-validation-for="CountryFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryTo" class="control-label"></label>
                <input asp-for="CountryTo" class="form-control" />
                <span asp-validation-for="CountryTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityFrom" class="control-label"></label>
                <input asp-for="CityFrom" class="form-control" />
                <span asp-validation-for="CityFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityTo" class="control-label"></label>
                <input asp-for="CityTo" class="form-control" />
                <span asp-validation-for="CityTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrom" class="control-label"></label>
                <input asp-for="TimeFrom" class="form-control" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTo" class="control-label"></label>
                <input asp-for="TimeTo" class="form-control" />
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

