@model Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerId" class="control-label"></label>
                <select asp-for="PassengerId" class="form-control" asp-items="@(new SelectList(ViewBag.Passengers, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="CountryFrom" class="control-label"></label>
                <input asp-for="CountryFrom" class="form-control" />
                <span asp-validation-for="CountryFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryTo" class="control-label"></label>
                <input asp-for="CountryTo" class="form-control" />
                <span asp-validation-for="CountryTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityFrom" class="control-label"></label>
                <input asp-for="CityFrom" class="form-control" />
                <span asp-validation-for="CityFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityTo" class="control-label"></label>
                <input asp-for="CityTo" class="form-control" />
                <span asp-validation-for="CityTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateTimeFrom" class="control-label"></label>
                <input asp-for="DateTimeFrom" class="form-control" />
                <span asp-validation-for="DateTimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeTo" class="control-label"></label>
                <input asp-for="DateTimeTo" class="form-control" />
                <span asp-validation-for="DateTimeTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

